{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
  .card-header {
    background-color: #e0e0d1; /* Beige */
    color: #333; /* Colore scuro per il testo */
    font-weight: bold;
}

.card {
    border-radius: 12px; /* Arrotonda gli angoli della card */
}
</style>
<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-black text-center">
            <h2>Login</h2>
          </div>
          <div class="card-body">
            <form action="{% url 'utenti:login' %}" method="POST" novalidate>
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              
              {% for field in form.visible_fields %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                  {% render_field field class="form-control" %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
              
              {% if messages %}
                <div class="alert alert-danger" role="alert">
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
                </div>
              {% endif %}

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-block font-weight-bold">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
