{% extends 'base.html' %}
{% load static %}

{% block title %} Profilo di {{ user.username }} {% endblock %}

{% block content %}
<style>
    .image-container {
        width: 170px;
        height: 170px;
        border: solid;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;  /* Aggiungi questa riga per centrare il contenitore dell'immagine */
    }
    
    .image-container img {
        width: 150%;
        height: 150%;
        object-fit: cover;
    }

    /* Alerts */
    .alert {
        border-radius: 0.5rem;
    }
    .card-header {
        background-color: #e0e0d1; /* Beige */
        color: #333; /* Colore scuro per il testo */
        font-weight: bold;
    }
    
    .card {
        border-radius: 12px; /* Arrotonda gli angoli della card */
    }
</style>

<!-- Aggiungi i link ai file CSS e JavaScript di Selectize.js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap5.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    

    <!-- Alert per la corretta modifica dati -->
    {% if "ok" in request.GET.modified %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Modifiche avvenute con successo!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <!-- Alert per la corretta modifica pw -->
    {% if "ok" in request.GET.changed %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Password cambiata con successo!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <!-- Alert per errore di modifica dati -->
    {% if "no" in request.GET.modified %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Errore durante l'operazione!</strong>
        <p>I seguenti eventi non erano in un formato valido:</p>
        <ul>
            {% for key, value in request.GET.items %}
                {% if key != "modified" %}
                    <li>{{ key }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}



    <!-- Profilo Utente -->
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Profilo di {{ user.username }}</h2>
                    </div>
                    <div class="card-body">
                        {% if user.is_utente %}
                        <dl class="row">
                            <dt class="col-sm-3">Nome:</dt>
                            <dd class="col-sm-9">{{ user.first_name }}</dd>
                            <dt class="col-sm-3">Cognome:</dt>
                            <dd class="col-sm-9">{{ user.last_name }}</dd>
                            <dd class="image-container"><img src="{{ user.img.url }}" alt="Profile Image"></dd>
                        </dl>
                        {% elif user.is_pubblicatore %}
                        <h4 class="text-center">Dati del Pubblicatore</h4>
                        <dl class="row">
                            <dt class="col-sm-3">Latitudine:</dt>
                            <dd class="col-sm-9">{{ pubblicatore.latitudine }}</dd>
                            <dt class="col-sm-3">Longitudine:</dt>
                            <dd class="col-sm-9">{{ pubblicatore.longitudine }}</dd>
                            <dt class="col-sm-3">Descrizione:</dt>
                            <dd class="col-sm-9">{{ pubblicatore.descrizione }}</dd>
                            <dt class="col-sm-3">Telefono:</dt>
                            <dd class="col-sm-9">{{ pubblicatore.numTelefono }}</dd>
                            <dd class="image-container"><img src="{{ user.img.url }}" alt="Profile Image"></dd>
                        </dl>
                        {% endif %}
                        <div class="text-center mt-4">
                            <a href="{% url 'utenti:update_profile' %}" class="btn btn-secondary">Modifica Profilo</a>
                            <a href="{% url 'utenti:cambia_password' %}" class="btn btn-secondary">Cambia Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
