{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Registrazione Utente{% endblock %}

{% block content %}
<style>
    .card-header {
        background-color: #e0e0d1; /* Beige */
        color: #333; /* Colore scuro per il testo */
        font-weight: bold;
    }
    
    .card {
        border-radius: 12px; /* Arrotonda gli angoli della card */
    }
    .btn-block {
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 1.1rem;
    }
    .row.py-2 {
        margin-bottom: 1rem;
    }
    .container {
        max-width: 500px;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
</style>

<section class="mx-auto py-5 text-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="text-dark">Registrazione</h2>
            </div>
            <div class="card-body">
                <div class="row py-2">
                    <a class="btn btn-lg btn-primary btn-block" href="{% url 'utenti:utente_registration' %}">Sono un utente</a>
                </div>
                <div class="row py-2">
                    <a class="btn btn-lg btn-primary btn-block" href="{% url 'utenti:pubblicatore_registration' %}">Sono un pubblicatore</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
