{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Registrazione Utente{% endblock %}

{% block content %}
<style>
    .card-header {
        background-color: #e0e0d1; /* Beige */
        color: #333; /* Colore scuro per il testo */
        font-weight: bold;
    }
    
    .card {
        border-radius: 12px; /* Arrotonda gli angoli della card */
    }
    .form-control {
        border-radius: 5px;
    }
    .text-danger {
        font-size: 0.9rem;
    }
    .container {
        max-width: 500px;
    }
    h2 {
        font-size: 1.75rem;
        margin-bottom: 0;
    }
    .btn-block {
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 1.1rem;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Registrazione</h2>
                </div>
                <div class="card-body px-4">
                    <!-- Aggiunto enctype per permettere il caricamento di file -->
                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">
                                    {% if field.label == "Password confirmation" %}
                                        Conferma Password
                                    {% else %}
                                        {{ field.label }}
                                    {% endif %}
                                </label>
                                {% render_field field class="form-control" %}
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary btn-block" style="font-weight: bold;">Registrati</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
