<div class="container container-review mb-5" style="max-width: 1010px;">
  <div class="row">
    <div class="col-md-2 text-center user-section p-4 border-right d-flex flex-column align-items-center">
      <h5 class="text-black mb-2" style="margin-bottom: 10px;">{{ recensione.utente.user.username }}</h5>  <dd class="image-container">
        <img src="{{ recensione.utente.user.img.url }}" alt="Profile Image">  </dd>
    </div>

    <div class="col-md-10 review-section p-4 rounded-right" style="margin-left: 20px;">
      <div class="row mb-2">
        <h5 class="text-dark">{{ recensione.data_recensione }}</h5>
      </div>

      <div class="row mb-3">
        <div class="ratings d-flex">
          {% for star in "12345" %}
            <i class="fa fa-star {% if forloop.counter <= recensione.voto %}rating-color{% endif %}"></i>
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <p>{{ recensione.testo }}</p>
      </div>
    </div>
  </div>
</div>